
/*  Style for Horzontal Alignment*/
.sttcp-align-horizontal-icon{
    display: flex;
    align-items: center;
    width: 25em;
}
.sttcp-align-horizontal-icon> .sttcp-align-horizontal-icon-select{
    width: 100%;
}

.sttcp-align-horizontal-icon> .sttcp-align-horizontal-icon-input{
    width: 100%;
}

/*  Style for Vertical Alignment*/
.sttcp-align-vertical-icon {
    display: flex;
    align-items: center;
    width: 25em;
}

.sttcp-align-vertical-icon>.sttcp-align-vertical-icon-select {
    width: 100%;
}

.sttcp-align-vertical-icon>.sttcp-align-vertical-icon-input {
    width: 100%;
}


.sttcp-icon{
    width: 100px;
    height: auto;
    max-height: 100px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    cursor: pointer;
}

.sttcp-icon>img{
    width: 100%;
    height: 100%;
    max-width: 100px;
    max-height: 100px;
}
